<% images = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen", "twenty", "twentyone", "twentytwo", "twentythree", "twentyfour", "twentyfive", "twentysix", "twentyseven", "twentyeight", "twentynine", "thirty"] %>
<html>
<head>
  <title>Welcome</title>
  <meta charset="utf8">
</head>
<body class="body">
  <div class="subtitle">welcome to...</div>
    <div class="img_row">
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
    </div>
    <div class="subtitle">reid's #1 blog na</div>
    <div class="img_row">
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
    </div>
    <div>
      <div class="links">
        <a class="link" href="welcome/about.html">about</a>
      </div><!--
   --><div class="links">
        <a class="link" href="../posts">all posts</a>
      </div><!--
   --><div class="links">
        <%= link_to "create a new post", posts_path, { :method => :post, :class => 'link' } %>
      </div>
    </div>
    <div class="img_row">
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
      <div class="img"><%= image_tag("#{images.sample}.gif", :height => "100") %></div>
    </div>
</body>
</html>
